.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

  .modal .modal-main {
    position: fixed;
    background: white;
    width: 75vh;
    height: 35vw;
    border: black 1px solid;

    /* transform: translate(-50%, -50%); */
  }
  
  .display-block {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    /* z-index: 1; */


  }
  
  .display-none {
    display: none;
  }

  .new-msg-icon {
    width: 1rem;
  }