
.sidebar-container {
    display: flex;

    font-size: 1.5rem;
    /* width: 10rem; */
    /* height: auto; */
    /* position: absolute; */
    /* overflow-x: hidden; */
    float: left;
    flex-direction: column;
    /* justify-content: center; */
}

.mail-btn-size {
    width: 2rem;
    display: flex;
}

.nav-btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
